<section id="video">
  <a href="/" class="back-button">
    <i class="far fa-arrow-alt-circle-left"></i>
  </a>
  <video autoplay loop controls class="video-highlight">
    <source src="/video/{{ moviesrc }}" type="video/mp4">
  </video>
<!-- I tried to have a section that displayed the movie's title and info but couldn't get it to work-->
<!--  <section>
    <h4 class="movie-title">{{ movie }}</h4>
    <span>{{defaultMovie.movies_release}} || {{defaultMovie.movies_runtime}} || {{defaultMovie.genre_name}}</span>
    <p>{{defaultMovie.movies_storyline}}</p>
  </section> -->

  <article class="comments" v-if="reviews.length > 0">
    <div v-for="review in reviews">
      <review-stars :value="review.comments_rating" :disabled="true"></review-stars>
      <i class="post-date">${ review.comments_date }</i>
      <p>${ review.comments_copy }</p>
    </div>
  </article>

  <aside class="add-comment" :class="{ floatRight : reviews.length > 0 }">
    <h4 class="review-heading">Add a Review</h4>
    <span class="hidden movId">{{ movie }}</span>
    <review-stars v-model="numStars" :disabled="false"></review-stars>
    <textarea name="review" id="review" placeholder="What did you think?" v-model="review"></textarea>
    <input type="submit" value="Submit your review!" v-on:click="addReview">
  </aside>
</section>
